'.source.swift':
  'for-in':
    'prefix': 'for'
    'body': """
      for ${1:item} in ${2:collection} {
        ${3:statements}
      }
    """
  'guard-else':
    'prefix': 'guard'
    'body': """
      guard ${1:condition} else {
        ${2:statements}
      }
    """
